{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "esli", "1",
        [
         kernel,
         stdlib,
         sasl,
	 riakc,
	 mochiweb,
	 esli
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "esli"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "esli"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
           {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
           {copy, "files/esli", "bin/esli"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"},
	   {mkdir, "var"},
	   {mkdir, "var/htdocs"}
           ]}.
